label.required {
  font-weight: bold;
}

.sensitive {
  background: repeating-linear-gradient(45deg, #FFFAFA, #FFFAFA 10px, #FFE1E1 10px, #FFE1E1 20px);
  padding: 10px;
  margin: 0 -10px 1rem -10px;
}