pip-tools
whitenoise

Django
django-choices
django-widget-tweaks
django-webtest
uwsgi
psycopg2-binary
requests
factory_boy
pyyaml
django-hijack
django-hijack-admin
django-solo
django-betterforms
channels
channels-redis
daphne
gemma-zds-client
vng-api-common
dictdiffer

raven
