{% extends "demo/base.html" %}

{% block content %}

  <div class="container">
    {% if error %}

      <div class="alert alert-danger" role="alert">
        {{ error.title }}
      </div>

      <dl>
        <dt>Type</dt>
        <dd>{{ error.type }}</dd>

        <dt>Code</dt>
        <dd>{{ error.code }}</dd>

        <dt>Status</dt>
        <dd>{{ error.status }}</dd>

        {% if error.detail %}
          <dt>Details</dt>
          <dd>{{ error.detail }}</dd>
        {% endif %}

        <dt>Instantie</dt>
        <dd>{{ error.instance }}</dd>
      </dl>

      {% if error.invalid_params %}
        <ul>
          {% for param in error.invalid_params %}
            <li>{{ param.name }}: {{ param.reason }} ({{ param.code }})</li>
          {% endfor %}
        </ul>
      {% endif %}

    {% else %}

      <pre>{{ exception }}</pre>

    {% endif %}

    <p>
      <a href="javascript: location.reload();" class="btn btn-secondary">Nogmaals proberen</a>
    </p>

  </div>

{% endblock %}
