{% extends "demo/base.html" %}
{% load solo_tags %}

{% block extra_style %}
  {{ block.super }}

  <style>
    #map-canvas { height: 600px; }
  </style>
{% endblock %}

{% block content %}

  <div class="container">

    {% block content-before-form %}{% endblock %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row">
        <div class="col-sm">

          <label class="required">Locatie</label>
          <div id="map-canvas"></div>

        </div>
        <div class="col-sm">

          {% include "includes/form_fields.html" %}

          {% block form-buttons %}
            <button type="submit" class="btn btn-primary">{% block form-submit-label %}Versturen{% endblock %}</button>
          {% endblock %}

        </div>
      </div>

    </form>

    {% block content-after-form %}{% endblock %}

  </div>

{% endblock %}

{% block extra_scripts %}

  {% get_solo 'demo.SiteConfiguration' as site_config %}

  {{ block.super }}

  <script src="https://maps.googleapis.com/maps/api/js?key={{ site_config.google_api_key }}&callback=initMap" async defer></script>

{% endblock %}