{% extends "demo/base.html" %}

{% block content %}

  <div class="container">

    {% block content-before-form %}{% endblock %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% include "includes/form_fields.html" %}

      {% block form-buttons %}
        <button type="submit" class="btn btn-primary">{% block form-submit-label %}Versturen{% endblock %}</button>
      {% endblock %}
    </form>

    {% block content-after-form %}{% endblock %}

  </div>

{% endblock %}
