{% extends "demo/base.html" %}

{% block content %}

  <div class="container">

    {% block content-before-form %}{% endblock %}

    <form method="post" enctype="multipart/form-data" action="">
      {% csrf_token %}

      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Er ging iets mis...</h4>
          {{ form.non_field_errors }}
          {{ form.errors }}
        </div>
      {% endif %}

      {% include "includes/form_fields.html" %}

      {% block form-buttons %}
        <button type="submit" class="btn btn-primary">{% block form-submit-label %}Versturen{% endblock %}</button>
      {% endblock %}
    </form>

    <br>

    {% block content-after-form %}{% endblock %}

  </div>

{% endblock %}
