{% extends "demo/form_with_map.html" %}

{% block form-submit-label %}Bijwerken{% endblock %}

{% block content-after-form %}

  <h2>Status historie</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Statustype</th>
        <th>Toelichting</th>
      </tr>
    </thead>
    <tbody>
      {% for status in status_list %}
        <tr>
          <td>{{ status.datumStatusGezet }}</td>
          <td>{{ status.statusType_embedded.omschrijving }}</td>
          <td>{{ status.statustoelichting }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    <a href="{% url 'demo:zaakbeheer-statuscreate' zaak_uuid %}" class="btn btn-primary">Status toevoegen</a>
  </p>

  <h2>Documenten</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Titel</th>
        <th>Auteur</th>
        <th>Formaat</th>
        <th>Acties</th>
      </tr>
    </thead>
    <tbody>
      {% for document in document_list %}
        <tr>
          <td>{{ document.creatiedatum }}</td>
          <td>{{ document.titel }}</td>
          <td>{{ document.auteur }}</td>
          <td>{{ document.formaat }}</td>
          <td><a target="_blank" href="{% if document.link %}{{ document.link }}{% else %}{{ document.inhoud }}{% endif %}">Downloaden</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    <a href="{% url 'demo:zaakbeheer-index' %}" class="btn btn-secondary">Terug naar overzicht</a>
  </p>

{% endblock %}


{% block extra_scripts %}
  <script type="application/javascript">

    function initMap() {
      var lat = $('#id_latitude').val();
      var lng = $('#id_longitude').val();
      var mapDiv = document.getElementById('map-canvas');

      if (lat === '' || lng === '') {
          $(mapDiv).html('Geen locatie bekend.');
          return;
      }

      var location = new google.maps.LatLng(lat, lng);

      var map = new google.maps.Map(mapDiv, {
        center: location,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [
          {
            featureType: 'poi.business',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'transit',
            elementType: 'labels.icon',
            stylers: [{visibility: 'off'}]
          }
        ]
      });

      var marker = new google.maps.Marker({
        map: map,
        position: location
      });

    }
  </script>

  {{ block.super }}
{% endblock %}