{% extends "demo/form_with_map.html" %}

{% block form-submit-label %}Bijwerken{% endblock %}

{% block content-after-form %}

  <h2>Statussen</h2>
  {% include "demo/zaakbeheer/includes/status_list.html" with status_list=status_list %}
  <p>
    <a href="{% url 'demo:zaakbeheer-statuscreate' zaak_uuid %}" class="btn btn-primary">Status toevoegen</a>
  </p>

  <h2>Documenten</h2>
  {% include "demo/zaakbeheer/includes/document_list.html" with document_list=document_list %}

  <h2>Besluiten</h2>
  {% include "demo/zaakbeheer/includes/besluit_list.html" with besluit_list=besluit_list %}
  <p>
    <a href="{% url 'demo:zaakbeheer-besluitcreate' zaak_uuid %}" class="btn btn-primary">Besluit toevoegen</a>
  </p>

  <h2>Resultaat</h2>
  {% include "demo/zaakbeheer/includes/resultaat_detail.html" with resultaat=resultaat resultaat_type=resultaat.resultaattype_embedded %}
  <p>
    <a href="{% url 'demo:zaakbeheer-resultaatedit' zaak_uuid %}" class="btn btn-primary">Resultaat opgeven of wijzigen</a>
  </p>

  <h2>Audit trail</h2>
  {% include "demo/zaakbeheer/includes/audittrail_list.html" with audittrail_list=audittrail_list %}

  <p>
    <a href="{% url 'demo:zaakbeheer-index' %}" class="btn btn-secondary">Terug naar overzicht</a>
  </p>

{% endblock %}


{% block extra_scripts %}
  <script type="application/javascript">

    function initMap() {
      var lat = $('#id_latitude').val();
      var lng = $('#id_longitude').val();
      var mapDiv = document.getElementById('map-canvas');

      if (lat === '' || lng === '') {
          $(mapDiv).html('Geen locatie bekend.');
          return;
      }

      var location = new google.maps.LatLng(lat, lng);

      var map = new google.maps.Map(mapDiv, {
        center: location,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [
          {
            featureType: 'poi.business',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'transit',
            elementType: 'labels.icon',
            stylers: [{visibility: 'off'}]
          }
        ]
      });

      var marker = new google.maps.Marker({
        map: map,
        position: location
      });

    }
  </script>

  {{ block.super }}
{% endblock %}
