{% extends "demo/base.html" %}
{% load solo_tags %}

{% block extra_style %}
  {{ block.super }}

  <style>
    #map-canvas { height: 600px; }
  </style>
{% endblock %}

{% block content %}

  <div class="container">

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row">
        <div class="col-lg-8">

          <label class="required">Selecteer gebied</label>
          <div id="map-canvas"></div>

        </div>
        <div class="col-sm-4">

          {% include "includes/form_fields.html" %}

          <button type="submit" class="btn btn-primary">Opvragen</button>

        </div>
      </div>

      <div class="row">
        <div class="col-sm">



        </div>
      </div>

    </form>

  </div>

{% endblock %}

{% block extra_scripts %}
  <script type="application/javascript">

    function generateGeoJSONCircle(circle) {
      var numSides = 20;
       // center, radius, numSides

      var points = [],
          degreeStep = 360 / numSides;

      for(var i = 0; i < numSides; i++){
        var gpos = google.maps.geometry.spherical.computeOffset(circle.center, circle.radius, degreeStep * i);
        points.push([gpos.lng(), gpos.lat()]);
      };

      // Duplicate the last point to close the geojson ring
      points.push(points[0]);

      return points;
    }

    function initMap() {
      var location = new google.maps.LatLng(
          {{ form.latitude.value|default:'52.36991896035238' }},
          {{ form.longitude.value|default:'4.897787135976614' }}
      );

      var mapDiv = document.getElementById('map-canvas');
      var map = new google.maps.Map(mapDiv, {
        center: location,
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [
          {
            featureType: 'poi.business',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'transit',
            elementType: 'labels.icon',
            stylers: [{visibility: 'off'}]
          }
        ]
      });

      var circle = new google.maps.Circle({
          center: location,
          map: map,
          radius: {{ form.radius.value|default:'1000' }},
          fillColor: '#FF0000',
          fillOpacity: 0.2,
          strokeColor: "#FFF",
          strokeWeight: 0,
          editable: true
      });

      map.addListener('click', moveCircle);
      function moveCircle(event) {
          circle.setCenter(event.latLng);
      }

      circle.addListener('radius_changed', updateCoordinates);
      circle.addListener('center_changed', updateCoordinates);
      function updateCoordinates() {
          var points = generateGeoJSONCircle(circle);
          $('#id_coordinates').val(JSON.stringify(points));

          // Meta data to redraw circle...
          $('#id_latitude').val(circle.center.lat);
          $('#id_longitude').val(circle.center.lng);
          $('#id_radius').val(circle.radius);
      }

      updateCoordinates();

      /*
      Results are obtained via a request/response instead of an Ajax call to
      make the network traffic overview work. It can however, just as easily
      be a direct Ajax call.
       */
      {% if zaken_json %}
        var results = JSON.parse('{{ zaken_json|safe }}');

        var infowindow = new google.maps.InfoWindow();

        $.each(results, function( index, zaak ) {
          var marker = new google.maps.Marker({
              map: map,
              position: new google.maps.LatLng(zaak.zaakgeometrie.coordinates[1], zaak.zaakgeometrie.coordinates[0])
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
            infowindow.setContent(
                '<h5>' + zaak.toelichting + '</h5><p>' + zaak.registratiedatum + '</p>'
            );
          });
        });
      {% endif %}
    }
  </script>

  {{ block.super }}

  {% get_solo 'demo.SiteConfiguration' as site_config %}
  <script src="https://maps.googleapis.com/maps/api/js?key={{ site_config.google_api_key }}&callback=initMap&libraries=geometry" async defer></script>


{% endblock %}