<table class="table table-sm">
    <tbody>
      {% for audittrail in audittrail_list %}
        <tr>
            <td width="200">{{ audittrail.aanmaakdatum}}</td>
            <td>
                <b>{{ audittrail.resource|capfirst }}</b> {{ audittrail.resourceWeergave }}
                is {{ audittrail.actieWeergave }} in {{ audittrail.bron }} door
                <b><a class="tooltip-element" data-toggle="tooltip" title="{{ audittrail.gebruikersId }}">{{ audittrail.gebruikersWeergave }}</a></b>
                via <b><a class="tooltip-element" data-toggle="tooltip" title="{{ audittrail.applicatieId }}">{{ audittrail.applicatieWeergave }}</a></b>
            </td>
            <td width="175">
                <button class="btn btn-default float-right" data-toggle="modal" data-target="#myModal-{{forloop.counter}}">Toon wijzigingen</button>
            </td>
        </tr>
        <div class="modal hide fade" tabindex="-1" id="myModal-{{forloop.counter}}" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Gewijzigde velden</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container bordered">
                            <div class="row">
                                <div class="col">
                                    <h6>Veld</h6>
                                </div>
                                <div class="col">
                                    <h6>Oud</h6>
                                </div>
                                <div class="col">
                                    <h6>Nieuw</h6>
                                </div>
                            </div>
                            {% for change in audittrail.wijzigingen %}
                                {% if change.0 == 'add' %}
                                    {% for field, diff in change.1.items %}
                                        <div class="row">
                                            <div class="col">{{ field|capfirst }}</div>
                                            <div class="col"></div>
                                            <div class="col"><p>{{ diff }}</p></div>
                                        </div>
                                        <hr/>
                                    {% endfor %}
                                {% elif change.0 == 'change' %}
                                    {% for field, diff in change.1.items %}
                                        <div class="row">
                                            <div class="col">{{ field|capfirst }}</div>
                                            <div class="col">{{ diff.0 }}</div>
                                            <div class="col lg-2">{{ diff.1 }}</div>
                                        </div>
                                        <hr/>
                                    {% endfor %}
                                {% elif change.0 == 'remove' %}
                                    {% for field, diff in change.1.items %}
                                        <div class="row">
                                            <div class="col">{{ field|capfirst }}</div>
                                            <div class="col">{{ diff }}</div>
                                            <div class="col lg-2"></div>
                                        </div>
                                        <hr/>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
    </tbody>
  </table>
