<table class="table">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Titel</th>
      <th>Auteur</th>
      <th>Formaat</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    {% for document in document_list %}
      <tr>
        <td>{{ document.creatiedatum }}</td>
        <td>{{ document.titel }}</td>
        <td>{{ document.auteur }}</td>
        <td>{{ document.formaat }}</td>
        <td><a target="_blank" href="{% if document.link %}{{ document.link }}{% else %}{{ document.inhoud }}{% endif %}">Downloaden</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>