{% extends "demo/form_with_map.html" %}
{% load l10n solo_tags %}

{% block form-submit-label %}Indienen{% endblock %}

{% block extra_scripts %}
  {% get_solo 'demo.SiteConfiguration' as site_config %}
  <script type="application/javascript">

    function initMap() {
      var mapDiv = document.getElementById('map-canvas');
      var map = new google.maps.Map(mapDiv, {
        center: new google.maps.LatLng({{ site_config.google_maps_lat|unlocalize }},{{ site_config.google_maps_long|unlocalize }}),
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [
          {
            featureType: 'poi.business',
            stylers: [{visibility: 'off'}]
          },
          {
            featureType: 'transit',
            elementType: 'labels.icon',
            stylers: [{visibility: 'off'}]
          }
        ]
      });
      var geocoder = new google.maps.Geocoder;
      // var infowindow = new google.maps.InfoWindow;
      var marker = new google.maps.Marker({map: map});

      google.maps.event.addListener(map, 'click', function(args) {
        var latlng = args.latLng;

        console.log( latlng.lat() + ', ' + latlng.lng() );

        $('#id_latitude').val(latlng.lat());
        $('#id_longitude').val(latlng.lng());

        geocoder.geocode({'location': latlng}, function(results, status) {
          if (status === 'OK') {
            if (results[0]) {
              marker.setPosition(latlng);

              // infowindow.setContent(results[0].formatted_address);
              // infowindow.open(map, marker);

              $('#id_adres').val(results[0].formatted_address);
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });

      });

    }
  </script>

  {{ block.super }}
{% endblock %}